.importValueSet {
  padding: 20px;
  text-align: left;
}

.uploadValueSet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonBtn {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid black;
}

.uploadButton {
  margin-bottom: 10px;
}

.searchForm {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.buttonSearch {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.spinning {
  text-align: center;
  padding-top: 15px;
}

.spinning > i {
  font-size: 32px;
}

.spinning > i::before {
  animation: spin 0.8s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
