.designationsContainer {
  display: flex;
  flex-direction: column;
}

.designationHeader {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.designationList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 1rem;
}

.designationContainer {
  display: grid;
  grid-template-columns: 10fr 1fr;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 4px;

  & .headerContainer {
    display: flex;
    align-items: center;
  }
}

.useInputContainer {
  margin-left: 1rem;
  margin-top: 1rem;
}

.designationContainer:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
