.excludeConcept {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.excludeConceptItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #eee;
}

.excludedConcept {
  background-color: #f8d7da;
  border: 1px solid #ddd;
}

.excludedIconContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
