.nav-header {
  background-color: var(--primary-2);
  display: flex;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.frontpage {
  padding-top: 80px;
}

.frontpage__infotext {
  max-width: 400px;
  margin: 2rem auto;
}

.key-value {
  display: flex;
}

.key-value div:first-of-type {
  font-weight: 600;
  width: 120px;
}

.frontpage__questionnaires-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
