.valueSetCompose {
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  padding: 0 2rem;
}

.valueSetCompose > div:last-child > div {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  width: 100%;
}

.valueSetCompose > div:last-child > div > div {
  width: 100%;
}

.answerOptionItem {
  display: grid; // Changed from flex
  grid-template-columns: auto 10fr; // 1. Column for text label, 2. Column for the input, 3. Column for the remove button
  align-items: center; // Vertically align items in each row
  gap: 1rem; // Space between the "display" and "code" rows
  margin: 0.5rem 0.8rem;
}

.answerOptionContent {
  display: grid; // Changed from flex
  grid-template-columns: 1fr 9fr auto;
  align-items: center; // Vertically align items in each row

  .answerOptionLabel {
    display: contents; // The magic property!
  }
}

.extensionsContainer {
  margin-top: 1rem;
  align-items: flex-start;
  text-align: left;
}

.answerOptionInputs {
  margin-left: 1rem;
}

.includeHeader {
  display: grid;
  grid-template-columns: 1fr 9fr auto;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.8rem;
}

.valueSetComposeDetails {
  padding: 1rem 2rem;
}
