.valueSetTabs {
  margin: 1rem 0;
  width: 100%;
}

.valueSetTabs > div:last-child > div {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  width: 100%;
}

.valueSetTabs > div:last-child > div > div {
  width: 100%;
}

.valueSetInclude {
  display: grid;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  padding: 0 2rem;
}

.addNewIncludeButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15%;
}

.answerOptionItem {
  display: grid;
  grid-template-columns: auto 10fr;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.8rem;
}

.answerOptionContent {
  display: grid;
  grid-template-columns: 1fr 9fr auto;
  align-items: center;

  .answerOptionLabel {
    display: contents;
  }
}

.answerOptionInputs {
  margin-left: 1rem;
}

.includeHeader {
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.8rem;
}

.includeContainer {
  display: grid;
  grid-template-columns: 11fr 1fr;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.deleteButtonContainer {
  display: flex;
  align-items: center;
}

.extensions {
  margin-left: 0;
}
