.securityContainer {
  margin: 1.5rem 0;
}

.tagContainer {
  margin: 1.5rem 0;
}

.profileContainer {
  margin: 1.5rem 0;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.profileItemContainer {
  display: grid;
  grid-template-columns: 1fr auto;
}

.metaContainer {
  text-align: left;
}

.expanderList {
  box-sizing: border-box;
}

.expanderItem {
  box-sizing: border-box;
}
