.securityTagContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5rem;
}

.tagContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5rem;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5rem;
}

.metaContainer {
  text-align: left;
}
