.nav-header {
  background-color: var(--primary-2);
  display: flex;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.nav-header p {
  margin: 0;
  padding-right: 5px;
  color: #d2d0d0;
  line-height: 32px;
}

.more-menu {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.more-menu:focus {
  outline: none;
  background-color: #ffffff36;
}

.more-menu:hover {
  background-color: #ffffff36;
}

.more-menu > img {
  filter: invert(100%);
}

.menu {
  position: absolute;
  top: 54px;
  width: 200px;
  right: 10px;
  background-color: #006d84;
  padding: 15px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.menu > button {
  width: 100%;
}

.form-logo {
  margin-left: 1rem;
  text-decoration: none;
  background-color: initial;
}

.form-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.form-title--link {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

.form-title--link .active {
  background-color: initial;
}

.form-title--link .active:hover {
  background-color: initial;
}

.form-title--link:hover {
  text-decoration: underline;
}

.form-title .form-title--link {
  font-size: 24px;
}

.profile-name {
  max-width: 160px;
}
