.valueSets {
  flex-direction: column;
  padding: 80px 20px;
}

.valueSetsHeadline {
  color: black;
  margin-bottom: 1rem;
  text-align: left;
}

.predefinedContainer {
  display: grid;
  grid-template-columns: 48% 48%;
  padding-bottom: 50px;
}

.predefinedContainer > div {
  padding: 10px;
  border: 1px solid black;
}

.predefinedContainer > div:first-child {
  margin-right: 20px;
  border: 1px dotted black;
}

.predefinedContainer .valueSet {
  padding-top: 10px;
}

@media screen and (width <= 1280px) {
  .predefinedContainer {
    grid-template-columns: 100%;
  }

  .predefinedContainer > div:first-child {
    margin-right: 0;
  }
}

.valueSetTabs > div:last-child > div {
  padding-right: 0;
  padding-left: 0;
  display: flex;
}

.valueSetTabs > div:last-child > div > div {
  width: 100%;
}
