.contactpointPeriod {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.contactPoint {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
  border: 1px solid #eee;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
