.existingValueSets {
  .existingValueSetsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    text-align: left;

    .existingValueSetsListItems {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  .existingValueSetsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background-color: initial;
    padding: initial;
    position: initial;
    width: initial;
    top: initial;

    strong {
      margin-right: 0.5rem;
    }

    button {
      margin-left: auto;
    }
  }
}

.extensionItem {
  word-break: break-all;
  padding: 0 0.5rem;
}

.jsonContainer {
  display: block;
  white-space: pre-wrap;
  text-align: left;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
