.existingValueSets {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .existingValueSetsList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: left;

    .existingValueSetsListItems {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  .existingValueSetsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background-color: initial;
    padding: initial;
    position: initial;
    width: initial;
    top: initial;

    strong {
      margin-right: 0.5rem;
    }

    button {
      margin-left: auto;
    }
  }
}
